# Compiled files
*.slo
*.lo
*.o
[Oo]bj
[Bb]in
[Dd]ebug*/
[Rr]elease*/
ipch/
*.pdb
*.so
*.lai
*.la
*.a

# R#
*ReSharper*

# VS
*.user
*.suo
*.[Cc]ache
*.sdf
*.opensdf

# Windows
[Tt]humbs.db 
*.log

# Specific files (needs more generic rules)
dep/lib/*.lib
dep/includes/*.h
dep/includes/assimp/*.h
dep/includes/assimp/*.inl
dep/includes/assimp/*.hpp
dep/includes/assimp/Compiler/*.h
dep/includes/GL/*.h
dep/includes/IL/*.h
dep/includes/IL/*.hpp

# Configuration Files
*.conf
