# Compiled Object files
*.slo
*.lo
*.o
[Oo]bj
[Bb]in

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# R#
*ReSharper*

# VS
*.user
*.suo
*.[Cc]ache
*.sdf
*.opensdf

# Windows
[Tt]humbs.db 
